{% extends "base.html" %}

{% load staticfiles %}
{% load myfilters %}
{% load compile_static %}


{% block title %}
野孩子
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static "" %}{% compile "less/users.less" %}" />
{% endblock %}

{% block js %}
<script src="{% static "lib/bootstrap/js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "js/wild/base.js" %}"></script>
<script src="{% static "js/users/myorders.js" %}"></script>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row" style="padding-top: 60px;">
        <div class="col-xs-3" style="width: 27%">


            <div class="menuListL mt36">
                <div class="listLHead">
                    <div class="avatar">
                        <div class="faked-avatar"></div>
                    </div>
                    <p class="name">{{user.name}}</p>
                    <!--p class="tips"><a href="index.php?app=member&amp;act=profile">完善个人资料</a></p-->
                </div>
                <div class="orderDl">
                    <dl class="buyer">
                        <dt>我的部落</dt>
                        <dd><a href="/user/myorders/" class="icoOrder active">我的订单</a></dd>
                        <dd><a href="/user/mycontacts/" class="icoContact">常用联系人</a></dd>
                        <dd class="last">
                            <a href="/user/logout/" class="icologout">退出登录</a>
                        </dd>
                    </dl>
                </div>
            </div>


        </div>

        <div class="col-xs-9" style="width: 73%;">

            <div class="myOrderTit">我的订单</div>
            {% if not orders %}
            <div class="no-orders"> 没有符合条件的订单! </div>
            {% endif %}
            {% for order in orders %}
            <div class="orderList mb18">
                <div class="orderListL">
                    <div class="codeInfo">
                        <span class="code">订单号：{{order.o.id}}</span>
                        <!--span class="state">订单状态：<b><font style="color:#999;">{{order.status_str}}</font></b></span-->
                    </div>
                    <div class="infoBox">
                        <div class="thumbnail">
                            <div class="shadow">
                                <a href="/event/detail/{{order.o.session.event.id}}/" target="_blank"><img src="{{order.picture}}"></a>
                            </div>
                        </div>
                        <div class="infoBoxR">
                            <h1><a href="/event/detail/{{order.o.session.event.id}}/" target="_blank">{{order.o.session.event.title}}</a></h1>
                            <p>
                                <span class="price">单价：￥{{order.o.session.event.price}}</span>
                                <span class="num">数量：{{order.o.number}}</span>
                                <span class="totalPrices">订单总价：￥{{order.o.total}}</span>
                            </p>
                            <p>下单时间：{{order.cre_time}}</p>
                            <p>审核状态： <span class="color{{order.o.status}}"></span> </p>
                            <p>状态说明：
                                {% ifequal order.o.status 1 %}
                                工作人员正在对您提交的准确报名信息(名额、机位等)进行审核，我们会在30分钟内审核您的订单，请注意订单状态变更
                                {%endifequal%}
                                {% ifequal order.o.status 2 %}
                                您申请的活动，预报名已成功，但由于价格未出或还未到达活动成行人数（见活动页面的“活动说明”），还不能支付费用;
                                {%endifequal%}
                                {% ifequal order.o.status 3 %}
                                表示您申请的活动已成功报名，您可进行支付。(温馨提示：成功报名后请尽快付款，活动名额的确认以付款成功为准）。
                                {%endifequal%}
                                您申请的活动，预报名已成功，但由于价格未出或还未到达活动成行人数（见活动页面的“活动说明”），还不能支付费用;
                                {% ifequal order.o.status 4 %}
                                表示您报名的活动已经支付成功，您可放心做好出行准备。
                                {%endifequal%}
                                {% ifequal order.o.status 5 %}
                                表示您的报名信息已被审核，但由于名额已满无法满足您的需求，这种情况下请勿着急，游侠客的工作人员会尽量安排活动名额，一旦名额增加或空缺会即刻与您联系。
                                {%endifequal%}
                            </p>

                            <p class="pay-option">
                                {% ifequal order.o.status 1 %}
                                <a class="btn btn-md btn-block btn-highlight" href="#" disabled>付款</a>
                                <a class="btn btn-md btn-block btn-highlight" href="/order/cancel/{{order.o.id}}/">取消订单</a>
                                {% endifequal %}
                                {% ifequal order.o.status 2 %}
                                <a class="btn btn-md btn-block btn-highlight" href="#" disabled>付款</a>
                                <a class="btn btn-md btn-block btn-highlight" href="/order/cancel/{{order.o.id}}/">取消订单</a>
                                {% endifequal %}
                                {% ifequal order.o.status 3 %}
                                <a class="btn btn-md btn-block btn-highlight" href="/order/confirm/{{order.o.id}}/">付款</a>
                                <a class="btn btn-md btn-block btn-highlight" href="/order/cancel/{{order.o.id}}/">取消订单</a>
                                {% endifequal %}
                                {% ifequal order.o.status 4 %}
                                <a class="btn btn-md btn-block btn-highlight" href="#" disabled>付款</a>
                                <a class="btn btn-md btn-block btn-highlight" href="#" disabled>取消订单</a>
                                {% endifequal %}
                                {% ifequal order.o.status 5 %}
                                <a class="btn btn-md btn-block btn-highlight" href="#" disabled>付款</a>
                                <a class="btn btn-md btn-block btn-highlight" href="/order/cancel/{{order.o.id}}/">取消订单</a>
                                {% endifequal %}

                            </p>

                        </div>
                    </div>
                </div>
                <div class="orderListR">
                    <p class="priceTit">实际支付</p>
                    <p class="price">￥{{order.o.total}}</p>
                    <p><a href="buyer_xorder-view-8210" target="_blank" class="more">查看详情</a></p>

                </div>
            </div>
            {% endfor %}


        </div>
    </div>


</div>

{% endblock %}
