{% extends "base.html" %}

{% load staticfiles %}
{% load myfilters %}


{% block title %}
野孩子
{% endblock %}


{% block css %}
<link rel="stylesheet/less" type="text/css" href="{% static "less/order.less"%}" />
{% endblock %}

{% block js %}
<script src="{% static "lib/bootstrap/js/bootstrap-datepicker.js" %}"></script>
<script src="http://cdn.jsdelivr.net/jquery.metadata/2.0/jquery.metadata.js"></script>
<script src="http://www.zaiwai.com/includes/libraries/javascript/jquery.plugins/jquery.validate.js"></script>
<script src="{% static "js/wild/base.js" %}"></script>
<script>
 //常用联系人
 var persons = {{frequent_members | jsonify}};
</script>
<script src="{% static "js/order/fill.js" %}"></script>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="processor">
            <div class="col-xs-4">
                <div class="step active">STEP 1 填写订单</div>
            </div>
            <div class="col-xs-4">
                <div class="step">
                    STEP 2 确认支付
                </div>
            </div>
            <div class="col-xs-4">
                <div class="step">
                    STEP 3 完成订单
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9" style="padding-top: 30px;">
            <div class="title">{{session.event.title}}</div>
            <hr class="splider" style="margin-bottom: 20px;">

            <form method="POST" id="xorder_form" action="/order/submit/">
                {% csrf_token %}
                <input type="hidden" name="session_id" value="{{session.id}}">
                <input type="hidden" name="num_apply" value="{{num_apply}}">

                <div class="form-wrap">
                    <div class="title-box">出行人信息</div>
                    <div class="main-box">
                        <div class="contact-main">
                            <span class="contact-title">常用出行人：</span>
                            <div class="contact-con">
                                <ul class="contact-list clearfix" id="rsm">
                                    {% for fm in frequent_members %}
                                    <li class="c-item">
                                        <label class="item-check">
                                            <input name="person_{{fm.id}}" id="person_{{fm.id}}" type="checkbox" class="input-checkbox">
                                            <span class="input-hack icon-d icon-hackc-d"></span>
                                            <span class="t">{{fm.name}}</span>
                                        </label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="pasger-main">
                            <div class="pasger-list">
                                {% for i in num_apply_range %}
                                {% if forloop.first %}
                                <div class="pasger-box pasger-first" id="pasger-box_{{i}}">
                                    {% else %}
                                    <div class="pasger-box pasger-last" id="pasger-box_{{i}}">
                                        {% endif %}
                                        <div class="pasger-no">第<em>{{i}}</em>位</div>
                                        <div class="pasger-con">
                                            <div class="pasger-form">
                                                <div class="form-field form-first">
                                                    <label for="qt_name_{{i}}" class="labl-text">姓名：</label>
                                                    <div class="input-cgroup">
                                                        <input type="text" name="person_name_{{i}}" id="qt_name_{{i}}" class="input-text {required:true, rangelength:[2,10], messages:{required:'请填写真实的姓名', rangelength:'请填写正确的姓名'}}" placeholder="所填证件的姓名" >
                                                        <div class="note-tips" title="1、请您准确填写与登记证件上一致的出行人姓名；2、若含有生僻字填写规范如下：若名是生僻字，请将该生僻字和其后的字用拼音代替，如：“赵赟子”填写为“赵yunzi”；若姓是生僻字，则姓名全部以拼音代替，如：“赟子丽”填写为“yunzili”。">
                                                            <i class="icon-d icon-helpg-d"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-field">
                                                    <label for="qt_phone_{{i}}" class="labl-text">手机：</label>
                                                    <div class="input-cgroup">
                                                        <input type="text" name="person_phone_{{i}}" id="qt_phone_{{i}}" class="input-text {required:true, checkMobile:true, messages:{required:'请填写手机号', checkMobile:'请填写正确的手机号'}}" placeholder="请确保手机能收到短信">
                                                    </div>
                                                </div>
                                                <div class="form-field">
                                                    <label for="qt_credentials_no_{{i}}" class="labl-text">证件：</label>
                                                    <div class="input-cgroup">
                                                        <div class="selt-box">
                                                            <select class="selt-main" name="credentials_type_{{i}}" id="qt_credentials_type_{{i}}">
                                                                <option value="1">身份证</option>
                                                                <!--option value="2">护照</option-->
                                                                <!--option value="3">军官证</option-->
                                                                <!--option value="4">回乡证</option-->
                                                            </select>
                                                            <input type="text" name="credentials_no_{{i}}" id="qt_credentials_no_{{i}}" class="input-text {required:true, checkCredentials:true, messages:{required:'请填写相关证件号码', checkCredentials:'请填写正确的证件号码'}}" placeholder="请输入证件号">
                                                        </div>
                                                        <div class="warn-box selt-tips" style="display:block;">
                                                            <span class="t">请保证您的证件在有效期内</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-field form-gender" style="display: block;">
                                                    <label for="" class="labl-text">性别：</label>
                                                    <div class="input-cgroup gender-group">
                                                        <label class="item-check gender-left">
                                                            <input class="input-radio" type="radio" name="person_sex_{{i}}" value="m" checked="checked">
                                                            <span class="t">男</span>
                                                        </label>
                                                        <label class="item-check gender-left">
                                                            <input class="input-radio" type="radio" name="person_sex_{{i}}" value="f">
                                                            <span class="t">女</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-field" style="display: block;">
                                                    <label for="qt_birthday_{{i}}" class="labl-text">生日：</label>

                                                    <div class="input-cgroup">
                                                        <div class="input-append date form_datetime">
                                                            <input class="input-text datepicker {required:true, messages:{required:'请填写出生日期'}}" id="qt_birthday_{{i}}" name="person_birthday_{{i}}" type="text" value="" data-date-format="yyyy-mm-dd" readonly placeholder="请选择出生日期">
                                                            <span class="add-on"><i class="icon-th"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="pasger-actions">
                                            <span class="clear-input">清空</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-wrap">
                        <div class="title-box">联系人信息</div>
                        <div class="main-box">
                            <div class="pasger-box">
                                <div class="pasger-con">
                                    <div class="pasger-form">
                                        <div class="form-field form-first">
                                            <label for="contacts_name" class="labl-text">姓名：</label>
                                            <div class="input-cgroup">
                                                <input type="text" name="contacts_name" id="contacts_name" class="input-text  {required:true, rangelength:[2,10], messages:{required:'请填写真实的姓名', rangelength:'请填写正确的姓名'}}" value="{{contacts_name}}" placeholder="请输入联系人姓名">
                                            </div>
                                        </div>
                                        <div class="form-field">
                                            <label for="contacts_mobile" class="labl-text">手机：</label>
                                            <div class="input-cgroup">
                                                <input type="text" name="contacts_mobile" id="contacts_mobile" class="input-text  {required:true, checkMobile:true, messages:{required:'请填写手机号', checkMobile:'请填写正确的手机号'}}" value="{{user.mobile}}" placeholder="请确保手机能收到短信">
                                            </div>
                                        </div>
                                        <div class="form-field">
                                            <label for="postscript" class="labl-text">备注：</label>
                                            <div class="input-cgroup input-cgroup-72">
                                                <textarea name="postscript" id="postscript" class="textarea" placeholder="如果您有特殊的要求，可以在这里留言"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <div class="title-box">装备租赁</div>
                        <div class="main-box">
                            <div class="pasger-box">
                                <div class="pasger-con">
                                    <div class="pasger-form-2">
                                        {% for eqpmnt in equipments %}
                                        <div class="form-field {% if forloop.first %}form-first{% endif %}">
                                            <label class="labl-text">{{eqpmnt.name}}</label>
                                            <div class="info-middle">￥{{eqpmnt.rent}}</div>
                                            <div  class="counter-select" max="{{eqpmnt.stock}}" min="0">
                                                <span class="delete"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>
                                                <input class="num" name="equipment_{{eqpmnt.id}}" type="text" value="0" readonly="">
                                                <span class="add active"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <div class="main-box" style="overflow-x:hidden;">
                            <div class="notic-left" >
                                <label class="item-check">
                                    <input class="input-checkbox" type="checkbox" name="checkbox" id="checkbox" checked="checked">
                                    <span class="t">我已阅读并同意了<a href="view-buyxy" target="_blank" class="notic-a" rel="nofollow">预订须知</a></span>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-lg btn-block btn-highlight" style="border-radius: 0;width: 154px;float: right;">提交订单</button>
                        </div>
                    </div>

                </form>

        </div>


        <div class="col-xs-3">
        </div>

    </div>


</div>

{% endblock %}
