.table-box {
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 15px;
  margin: 30px 0 10px 0;
}

.box-header {
  margin-bottom: 15px;

}

.box-title {
  font-size: 24px;
  color: #000;
  line-height: 25px;
  margin-bottom: 15px;
  display: block;
}

a.box-title, a.box-title:hover {
  text-decoration: none;
  cursor: pointer;
}

.form-container {
  margin-top: 40px;

}



// 装备
#equip-tabs {
  margin-top: 40px;
}



.color1, .color2, .color3, .color4, .color5 {
    width: 59px;
    height: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.color1 {
    background: url(/static/images/base/status_1.gif);
}
.color2 {
    background: url(/static/images/base/status_2.gif);
}
.color3 {
    background: url(/static/images/base/status_3.gif);
}
.color4 {
    background: url(/static/images/base/status_4.gif);
}
.color5 {
    background: url(/static/images/base/status_5.gif);
}
