{% extends "base.html" %}

{% load staticfiles %}



{% block title %}
野孩子
{% endblock %}



{% block content %}

<div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top: 20px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for cover in event.covers %}
            <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for cover in event.covers %}
            <div class="item {% if forloop.first %}active{% endif %}">
                <img src="{{cover}}">
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="row">
        <div class="col-xs-9 detail-area" style="padding-top: 30px;">
            <div class="detail-head">
                <div class="title">
                    {{event.title}}
                </div>
                <hr class="splider">
                <div class="highlight">
                    行程安排： {{event.route}}
                </div>
                <div class="desc">
                    {{event.outline}}
                </div>
                <div class="info-grid">
                    <div class="grid-row">
                        <div class="grid-col">
                            活动类型： {{event.type}}
                        </div>
                        <div class="grid-col">
                            体力强度：
                            {% for i in event.intensity %}
                            <span class="glyphicon glyphicon-star highlight" aria-hidden="true"></span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="grid-col">
                            旅行时长： {{event.days}}天
                        </div>
                        <div class="grid-col">
                            成团人数： {{event.places}}人
                        </div>
                    </div>
                </div>
            </div>

            <hr class="splider">

            <div class="row tag-title" id="planning">
                <div class="col-xs-4">
                    <a href="#planning" class="active">行程安排</a>
                </div>
                <div class="col-xs-4">
                    <a href="#fee-desc">费用说明</a>
                </div>
                <div class="col-xs-4">
                    <a href="#equipment">出行装备</a>
                </div>
            </div>

            <div class="date-box" >
                {% for dayplan in event.planning %}
                <div class="date-wrapper">
                    <div class="date-title">
                        <span class="date-icon">D{{forloop.counter}}</span>
                        <span class="em">{{dayplan.title}}</span>
                    </div>
                    {% for paragraph in dayplan.paragraphs %}
                    <div class="paragraph">
                        {% for p in paragraph %}
                        <p>{{p | safe}}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div class="info-box">
                <div class="top-title" id="fee-desc">
                    <div>费用说明</div>
                </div>

                {% for paragraph in event.fee_desc %}
                <div class="paragraph">
                    {% for p in paragraph %}
                    <p>{{p | safe}}</p>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>

            <div class="info-box">
                <div class="top-title" id="equipment">
                    <div>出行装备</div>
                </div>

                {% for paragraph in event.equipment %}
                <div class="paragraph">
                    {% for p in paragraph %}
                    <p>{{p | safe}}</p>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </div>


        <div class="col-xs-3"
        </div>

    </div>


</div>

{% endblock %}
