{% extends "base.html" %}

{% load staticfiles %}



{% block title %}
野孩子
{% endblock %}



{% block content %}
<div id="main-menu">
    <div class="menu-container">
        <div class="nav-menu">
            <div class="menu-value menu-value-icon">
                <ul>
                    {% for type in event_types %}

                    <li class="{% ifequal type.id filter.event_type_id %}active{% endifequal %}">
                        <a href="/event/lists/?type={{type.id}}&peroid={{filter.peroid_type_id}}">
                            <img src="{{type.icon}}" %}">
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="nav-menu">
            <div class="menu-value menu-value-text">
                <ul>
                    {% for peroid in peroid_types %}
                    <li class="{% ifequal peroid.id filter.peroid_type_id %}active{% endifequal %}">
                        <a href="/event/lists/?type={{filter.event_type_id}}&peroid={{peroid.id}}">{{peroid.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9" style="padding-top: 30px;">

            {% for event in events %}
            <div class="wd-event">
                <div class="title">
                    {{event.title}}
                </div>
                <hr class="splider">
                <div class="cover">
                    <a href="/event/detail/{{event.id}}/" target="_blank">
                        <img src="{{event.cover}}">
                        <div class="box">
                            <div class="line1">info</div>
                            <div class="line2">{{event.days}}天</div>
                            <div class="line3">{{event.price}}</div>
                        </div>
                    </a>
                </div>
                <div class="desc">
                    {{event.outline}}
                </div>
                <div class="footer">
                    <span>类型：{{event.type}} | </span>
                    <span>强度：
                        {% for i in event.intensity %}
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        {% endfor %}
                    </span>
                </div>
            </div>
            {% if not forloop.last %}
            <hr class="main-splider">
            {% endif %}

            {% endfor %}


            {% if page.range %}
            <div class="pagging">
                <ul>
                    <li class="prev">
                        <a href="/event/lists/?type={{filter.event_type_id}}&peroid={{filter.peroid_type_id}}&page={{page.prev}}"><<</a>
                    </li>
                    {% for pg in page.range %}
                    <li class="{% ifequal page.current pg %}active{% endifequal %}">
                        <a href="/event/lists/?type={{filter.event_type_id}}&peroid={{filter.peroid_type_id}}&page={{pg}}">{{pg}}</a>
                    </li>
                    {% endfor %}
                    <li class="next">
                        <a href="/event/lists/?type={{filter.event_type_id}}&peroid={{filter.peroid_type_id}}&page={{page.next}}">>></a>
                    </li>
                </ul>
            </div>
            {% endif %}

            {% if not page.range %}
            <h4>暂无数据</h4>
            {% endif %}


        </div>
        <div class="col-md-3" style="border: solid 1px gray; height: 1000px">
        </div>
    </div>
</div>


{% endblock %}
