<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        {% load compile_static %}
        <link rel="stylesheet" href="{% static "lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "" %}{% compile "less/admin_base.less" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "lib/uploader/uploader.css"%}" />
        {% block css %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

    </head>



    <body>

        <div id="header">
            <div class="container" >
                <div class="navbar-header">
                    <a href="/">
                        <img src="{% static "images/base/logo.jpg"%}" style="height:50px;">
                    </a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/admin/events/">活动</a></li>
                        <li><a href="/admin/orders/">订单</a></li>
                        <li><a href="/admin/equipments/">装备</a></li>
                        <li><a href="#">权限管理</a></li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/myorders/">{{user.name}}</a></li>
                        <li><a href="/user/logout/">登出</a></li>
                    </ul>

                </nav>
            </div>
        </div>



        {% block content %}{% endblock %}

        <script src="{% static "lib/jquery/jquery.min.js" %}"></script>
        <script src="{% static "lib/bootstrap-3.3.5-dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "lib/jquery/jquery.validate.js" %}"></script>
        <script src="{% static "lib/jquery/template.js" %}"></script>
        <script src="{% static "lib/uploader/uploader.js" %}"></script>

        {% block js %}{% endblock %}
    </body>

</html>
