{% extends "admin_base.html" %}

{% load staticfiles %}



{% block title %}
野孩子
{% endblock %}

{% block js %}
<script src="{% static "js/admin/orders.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container">

    <div class="table-box">


        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>联系人姓名</th>
                    <th>联系人手机</th>
                    <th>男数</th>
                    <th>女数</th>
                    <th>金额</th>
                    <th>报名时间</th>
                    <th>审核状态</th>
                    <th>状态设定</th>

                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.username}}</a></td>
                    <td>{{order.contact_name}}</td>
                    <td>{{order.contact_mobile}}</td>
                    <td>{{order.male_num}}</td>
                    <td>{{order.female_num}}</td>
                    <td>{{order.total}}</td>
                    <td>{{order.cre_date}}</td>
                    <td><span class="color{{order.status}}"></span></td>
                    <td>
                        <select class="status-setting" oid="{{order.id}}">
                            <option value="1" {% ifequal order.status 1 %}selected{% endifequal %}>未审核</option>
                            <option value="2" {% ifequal order.status 2 %}selected{% endifequal %}>预审通过</option>
                            <option value="3" {% ifequal order.status 3 %}selected{% endifequal %}>已通过</option>
                            <option value="4" {% ifequal order.status 4 %}selected{% endifequal %}>报名成功</option>
                            <option value="5" {% ifequal order.status 5 %}selected{% endifequal %}>替补</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>


</div>
{% endblock %}
