{% extends "admin_base.html" %}

{% load staticfiles %}



{% block title %}
野孩子
{% endblock %}

{% block js %}
<script src="{% static "js/admin/sessions.js" %}"></script>
{% endblock %}


{% block content %}
<div class="container">

    <div class="table-box">

        <div class="box-header">
            <a href="/event/detail/{{event.id}}/" target="_blank" class="box-title">{{event.title}}</a>
            <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSession">添加场次</button>

            <div class="modal fade" id="addSession" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form method="POST" action="/admin/sessions/add/">
                        {% csrf_token %}
                        <input type="hidden" name="event_id" value="{{event.id}}">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">添加场次</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">开始日期</label>
                                    <input type="date" class="form-control" name="start_dt" id="start-dt" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary">添加</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>场次ID</th>
                    <th>开始日期</th>
                    <th>结束日期</th>
                    <th>报名人数</th>
                    <th>创建时间</th>
                    <th>开启自动审核</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for sess in sessions %}
                <tr>
                    <td>{{sess.id}}</td>
                    <td>{{sess.start_dt}}</td>
                    <td>{{sess.end_dt}}</td>
                    <td>{{sess.num_apply}}</td>
                    <td>{{sess.cre_time}}</td>
                    <td><input class="auto-approve" type="checkbox" sid="{{sess.id}}" {% if sess.auto %}checked{% endif %} /></td>
                    <td>
                        <a href="/admin/sessions/delete/{{sess.id}}/" type="button" class="btn btn-danger">删除</a>
                        <a href="/admin/sessions/orders/{{sess.id}}/" type="button" class="btn btn-default">订单管理</a>
                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>
{% endblock %}
