<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet/less" type="text/css" href="{% static "less/base.less""%}" />
        {% block css %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

    </head>



    <body>

        <div id="header">
            <div class="container" >
                <div class="navbar-header">
                    <img src="{% static "images/base/logo.jpg"%}" style="height:50px;">
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">主页</a></li>
                        <li><a href="#">国际旅行</a></li>
                        <li><a href="#">长途旅行</a></li>
                        <li><a href="#">短途旅行</a></li>
                        <li><a href="#">旅行大管家</a></li>
                        <li><a href="#">升级VIP</a></li>
                        <li><a href="#">关于我们</a></li>
                    </ul>

                    {% if user.id %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{user.name}}</a></li>
                        <li><a href="/user/logout/">登出</a></li>
                        {% if user.admin %}
                        <li><a href="/user/logout/">管理后台</a></li>
                        {% endif %}
                    </ul>

                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/login/">登录</a></li>
                        <li><a href="/user/logout/">注册</a></li>
                    </ul>

                    {% endif %}
                </nav>
            </div>
        </div>



        {% block content %}{% endblock %}

        <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>
        {% block js %}{% endblock %}
    </body>

</html>
