<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        {% load compile_static %}
        <link rel="stylesheet" href="{% static "lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "lib/bootstrap-3.3.5-dist/css/non-responsive.css" %}">
        <link rel="stylesheet" href="{% static "" %}{% compile "less/base.less"%}" />
        {% block css %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

    </head>



    <body>

        <div id="header">
            <div class="container" >
                <div class="navbar-header">
                    <a href="/">
                        <img src="{% static "images/base/logo.jpg"%}" style="height:50px;">
                    </a>
                </div>
                <div class="">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">主页</a></li>
                        <li><a href="#">国际旅行</a></li>
                        <li><a href="#">长途旅行</a></li>
                        <li><a href="#">短途旅行</a></li>
                        <li><a href="#">旅行大管家</a></li>
                        <li><a href="#">升级VIP</a></li>
                        <li><a href="#">关于我们</a></li>
                    </ul>

                    {% if user.id %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/myorders/">{{user.name}}</a></li>
                        <li><a href="/user/logout/">退出</a></li>
                        {% if user.admin %}
                        <li><a href="/admin/events/">管理后台</a></li>
                        {% endif %}
                    </ul>

                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/login/">登录</a></li>
                        <li><a href="/user/register/">注册</a></li>
                    </ul>

                    {% endif %}
                </div>
            </div>
        </div>



        {% block content %}{% endblock %}

        <script src="{% static "lib/jquery/jquery.min.js" %}"></script>
        <script src="{% static "lib/bootstrap-3.3.5-dist/js/bootstrap.min.js" %}"></script>
        {% block js %}{% endblock %}
    </body>

</html>
